.git
.github
venv/
.venv/
env/
mp_py_env/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/
.coverage
htmlcov/
build/
dist/
*.egg-info/
.vscode/
.idea/
.DS_Store
*.log
.env
*.env
docker-compose.override.yml
